h1,
h2,
h3,
h4 {
    color: #c63637;
    text-align: center;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.titulo {
    text-align: center;
    max-width: 600px;
    margin: 10px auto;
    background-color: #ff7c70;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid red;
}

body {
    background-color: #ff9e8f;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 20px auto 0 auto;
}

img {
    width: 100%;
}